@model IEnumerable<HotelManagementSystem.Models.Client>

@{
    ViewData["Title"] = "Клієнти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Клієнти</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати нового клієнта</a>
</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ClName)</th>
        <th>@Html.DisplayNameFor(model => model.ClPhone)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClName)</td>
            <td>@Html.DisplayFor(modelItem => item.ClPhone)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClId" class="btn btn-sm btn-outline-warning">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ClId" class="btn btn-sm btn-outline-info">Бронювання</a> |
                <a asp-action="Delete" asp-route-id="@item.ClId" class="btn btn-sm btn-outline-danger">Видалити</a>
            </td>
        </tr>
    }
    </tbody>
</table>