@model IEnumerable<HotelManagementSystem.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BkDateIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BkDateOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BkCl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BkRm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BkDateIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkDateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkCl.ClId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkRm.RmId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
