@model IEnumerable<HotelManagementSystem.Models.BookingDetail>

@{
    ViewData["Title"] = "Деталі бронювання";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Послуги для бронювання №@ViewBag.BookingId</h1>

<p>
    <a asp-action="Create" asp-route-bookingId="@ViewBag.BookingId" class="btn btn-success">Додати послугу</a>
</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Послуга</th>
        <th>Кількість</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BdSrv.SrvName)</td>
            <td>@Html.DisplayFor(modelItem => item.BdQuantity) шт.</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BdId" class="btn btn-sm btn-outline-warning">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.BdId" class="btn btn-sm btn-outline-danger">Видалити</a>
            </td>
        </tr>
    }
    </tbody>
</table>